{% extends 'base.html' %}

{% block content %}
<div class="page-header">
  <h1>Preguntas</h1>
  {% for pregunta in preguntas %}
    <article>
      <h3><a href="{% url 'pregunta' pregunta.pk %}">{{ pregunta.titulo }}</a></h3>
      <p>{{ pregunta.descripcion }}</p>
      <div class="categorias">
        <ul class="list-inline">
          {% for categoria in pregunta.categoria.all %}
            <li><a href="{% url 'categoria' categoria.pk %}" class="btn btn-xs btn-info">{{ categoria.nombre }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </article>
  {% endfor %}
</div>
{% endblock %}

{% block sidebar %}

{% endblock %}